.wrapper{
    margin-top: var(--space-section);
    padding-inline: var(--container-padding);
}

.servies{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;

}
.highlight{
    color: #037AD1;
}
.title{
    font-size: 35px;
}

.paragraph{
      color: #929491;
}