.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--container-padding);
    margin: 0 auto;

}

.content {
    max-width: 1380px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.galleryGrid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1024px) {


    .wrapper {
        width: auto;
        display: flex;
        padding: 0;
        margin: 0 auto;

    }
}