.wrapper {
    width: 100%;
    margin-top: var(--space-section);
    padding-inline: var(--container-padding);
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 24px;
}

.card {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    gap: 30px;

}

.text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 5px;

}

.text p {
    color: #595a59;
    margin: 0;
}

.image {
    width: 60px;
    height: 60px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;

}

.stats p {
    margin: 0;
}

.stats h4 {
    font-size: 40px;
    margin: 0;
}

.stats div {
    padding: 15px;
    background-color: #E8F6FA;
    border-radius: 15px;

}

.intro {
    color: #595a59;
}

@media (max-width: 1024px) {}