  .burger {
    font-size: 26px;
    border: none;
    background: none;
    cursor: pointer;
    max-width: 100px;
    /* height: 100px; */
  }

  .consultationButton {
    padding: 0px 6px;
    border-radius: 20px;
    border: 2px solid #037ad1 !important;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .call {
    width: 20px;
    height: 20px;
  }

  .socialIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;


  }

  .socialIcon a {

    border-radius: 6px;
    cursor: pointer;
  }
 .facebook{

  display: flex;
  align-items: center;
 }
  .facebookImage {
    width: 30px;
    height: 30px;
  }