.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
}



.content {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
}

.flags {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.flag {
  width: 55px;
  height: 37px;
  cursor: pointer;
  filter: grayscale(70%);
  opacity: 0.6;
  transition: 0.2s ease;
}

.flag:hover {
  opacity: 0.8;
}

.active {
  filter: grayscale(0%);
  opacity: 1;
}


@media (max-width: 1024px) {

  .wrapper {
    padding: 0;
  }

  .products {
    display: flex;

    justify-content: center;
  }

  .title {
    font-size: 20px;
  }
}